<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Letter</key>
		<string>A</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>奥迪</string>
				<key>Pbid</key>
				<string>3</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>阿斯顿·马丁</string>
				<key>Pbid</key>
				<string>34</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>阿尔法罗密欧</string>
				<key>Pbid</key>
				<string>123</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>A测试</string>
				<key>Pbid</key>
				<string>166</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>B</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>宝马</string>
				<key>Pbid</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>奔驰</string>
				<key>Pbid</key>
				<string>2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>标致</string>
				<key>Pbid</key>
				<string>7</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>本田</string>
				<key>Pbid</key>
				<string>10</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>别克</string>
				<key>Pbid</key>
				<string>12</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>保时捷</string>
				<key>Pbid</key>
				<string>15</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>比亚迪</string>
				<key>Pbid</key>
				<string>22</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>奔腾</string>
				<key>Pbid</key>
				<string>31</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>北汽制造</string>
				<key>Pbid</key>
				<string>35</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>宾利</string>
				<key>Pbid</key>
				<string>36</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>巴博斯</string>
				<key>Pbid</key>
				<string>37</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>布加迪</string>
				<key>Pbid</key>
				<string>38</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>宝骏</string>
				<key>Pbid</key>
				<string>68</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>北京汽车</string>
				<key>Pbid</key>
				<string>69</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>彼得比尔特</string>
				<key>Pbid</key>
				<string>154</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>宾仕盾</string>
				<key>Pbid</key>
				<string>157</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>C</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>长城</string>
				<key>Pbid</key>
				<string>23</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>长安</string>
				<key>Pbid</key>
				<string>30</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>长安商用</string>
				<key>Pbid</key>
				<string>70</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>昌河</string>
				<key>Pbid</key>
				<string>71</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>成功汽车</string>
				<key>Pbid</key>
				<string>130</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>测试品牌</string>
				<key>Pbid</key>
				<string>165</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>D</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>大众</string>
				<key>Pbid</key>
				<string>5</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>道奇</string>
				<key>Pbid</key>
				<string>40</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>东风</string>
				<key>Pbid</key>
				<string>41</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>东风小康</string>
				<key>Pbid</key>
				<string>74</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>东南</string>
				<key>Pbid</key>
				<string>76</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>DS</string>
				<key>Pbid</key>
				<string>98</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>订单</string>
				<key>Pbid</key>
				<string>164</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>dsfsdf</string>
				<key>Pbid</key>
				<string>167</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>F</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>福特</string>
				<key>Pbid</key>
				<string>4</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>丰田</string>
				<key>Pbid</key>
				<string>6</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>法拉利</string>
				<key>Pbid</key>
				<string>42</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>菲亚特</string>
				<key>Pbid</key>
				<string>43</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>福田</string>
				<key>Pbid</key>
				<string>77</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>福莱纳</string>
				<key>Pbid</key>
				<string>106</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>菲斯科Fisker</string>
				<key>Pbid</key>
				<string>117</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>福迪</string>
				<key>Pbid</key>
				<string>134</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>福汽启腾</string>
				<key>Pbid</key>
				<string>136</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>G</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>GMC</string>
				<key>Pbid</key>
				<string>44</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>光冈</string>
				<key>Pbid</key>
				<string>45</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>广汽</string>
				<key>Pbid</key>
				<string>78</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>观致</string>
				<key>Pbid</key>
				<string>118</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>H</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>海马</string>
				<key>Pbid</key>
				<string>46</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>悍马</string>
				<key>Pbid</key>
				<string>47</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>华泰</string>
				<key>Pbid</key>
				<string>48</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>哈飞</string>
				<key>Pbid</key>
				<string>79</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>海格</string>
				<key>Pbid</key>
				<string>80</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>黄海</string>
				<key>Pbid</key>
				<string>81</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>红旗</string>
				<key>Pbid</key>
				<string>108</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>恒天</string>
				<key>Pbid</key>
				<string>137</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>华颂</string>
				<key>Pbid</key>
				<string>153</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>J</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Jeep吉普</string>
				<key>Pbid</key>
				<string>17</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>捷豹</string>
				<key>Pbid</key>
				<string>49</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>金杯</string>
				<key>Pbid</key>
				<string>83</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>江淮</string>
				<key>Pbid</key>
				<string>84</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>江铃</string>
				<key>Pbid</key>
				<string>85</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>吉利汽车</string>
				<key>Pbid</key>
				<string>116</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>金龙</string>
				<key>Pbid</key>
				<string>143</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>金旅</string>
				<key>Pbid</key>
				<string>145</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>九龙</string>
				<key>Pbid</key>
				<string>146</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>杰克Jayco</string>
				<key>Pbid</key>
				<string>158</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>K</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>凯迪拉克</string>
				<key>Pbid</key>
				<string>33</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>克莱斯勒</string>
				<key>Pbid</key>
				<string>50</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>开瑞</string>
				<key>Pbid</key>
				<string>87</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>科尼赛克</string>
				<key>Pbid</key>
				<string>101</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>凯佰赫</string>
				<key>Pbid</key>
				<string>104</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>KTM</string>
				<key>Pbid</key>
				<string>122</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>凯翼</string>
				<key>Pbid</key>
				<string>124</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>卡威</string>
				<key>Pbid</key>
				<string>148</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>卡升</string>
				<key>Pbid</key>
				<string>152</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>科尔曼Coleman</string>
				<key>Pbid</key>
				<string>159</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>康迪</string>
				<key>Pbid</key>
				<string>161</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>L</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>路虎</string>
				<key>Pbid</key>
				<string>14</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>雷克萨斯</string>
				<key>Pbid</key>
				<string>16</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>铃木</string>
				<key>Pbid</key>
				<string>24</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>猎豹汽车</string>
				<key>Pbid</key>
				<string>39</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>兰博基尼</string>
				<key>Pbid</key>
				<string>51</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>劳斯莱斯</string>
				<key>Pbid</key>
				<string>52</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>雷诺</string>
				<key>Pbid</key>
				<string>53</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>林肯</string>
				<key>Pbid</key>
				<string>54</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>陆风</string>
				<key>Pbid</key>
				<string>55</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>路特斯</string>
				<key>Pbid</key>
				<string>56</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>力帆</string>
				<key>Pbid</key>
				<string>88</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>理念</string>
				<key>Pbid</key>
				<string>95</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>劳伦士</string>
				<key>Pbid</key>
				<string>102</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>雷丁</string>
				<key>Pbid</key>
				<string>125</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>莲花汽车</string>
				<key>Pbid</key>
				<string>126</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>陆地方舟</string>
				<key>Pbid</key>
				<string>127</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>LOCAL MOTORS</string>
				<key>Pbid</key>
				<string>163</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>M</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>马自达</string>
				<key>Pbid</key>
				<string>13</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mini</string>
				<key>Pbid</key>
				<string>20</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>MG</string>
				<key>Pbid</key>
				<string>57</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>玛莎拉蒂</string>
				<key>Pbid</key>
				<string>58</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>迈巴赫</string>
				<key>Pbid</key>
				<string>59</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>迈凯伦</string>
				<key>Pbid</key>
				<string>105</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>摩根</string>
				<key>Pbid</key>
				<string>110</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>N</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>纳智捷</string>
				<key>Pbid</key>
				<string>111</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>南京金龙</string>
				<key>Pbid</key>
				<string>128</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>O</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>讴歌</string>
				<key>Pbid</key>
				<string>60</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>欧朗</string>
				<key>Pbid</key>
				<string>129</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>P</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>庞巴迪</string>
				<key>Pbid</key>
				<string>99</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>帕加尼</string>
				<key>Pbid</key>
				<string>121</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>Q</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>奇瑞</string>
				<key>Pbid</key>
				<string>21</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>起亚</string>
				<key>Pbid</key>
				<string>25</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>启辰</string>
				<key>Pbid</key>
				<string>131</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>乔治巴顿</string>
				<key>Pbid</key>
				<string>155</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>前途</string>
				<key>Pbid</key>
				<string>156</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>R</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>日产</string>
				<key>Pbid</key>
				<string>11</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>荣威</string>
				<key>Pbid</key>
				<string>62</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>如虎</string>
				<key>Pbid</key>
				<string>107</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>S</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>斯巴鲁</string>
				<key>Pbid</key>
				<string>19</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>三菱</string>
				<key>Pbid</key>
				<string>27</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>斯柯达</string>
				<key>Pbid</key>
				<string>32</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>smart</string>
				<key>Pbid</key>
				<string>64</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>双龙</string>
				<key>Pbid</key>
				<string>66</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>双环</string>
				<key>Pbid</key>
				<string>112</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>陕汽通家</string>
				<key>Pbid</key>
				<string>138</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>上汽大通</string>
				<key>Pbid</key>
				<string>140</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>斯达泰克</string>
				<key>Pbid</key>
				<string>162</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>T</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>特斯拉</string>
				<key>Pbid</key>
				<string>113</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>泰卡特</string>
				<key>Pbid</key>
				<string>119</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>腾势</string>
				<key>Pbid</key>
				<string>142</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>W</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>沃尔沃</string>
				<key>Pbid</key>
				<string>18</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>五菱汽车</string>
				<key>Pbid</key>
				<string>90</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>威兹曼</string>
				<key>Pbid</key>
				<string>103</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>五十铃</string>
				<key>Pbid</key>
				<string>147</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>沃伦贝格Winnebago</string>
				<key>Pbid</key>
				<string>160</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>X</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>现代</string>
				<key>Pbid</key>
				<string>8</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>雪佛兰</string>
				<key>Pbid</key>
				<string>9</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>雪铁龙</string>
				<key>Pbid</key>
				<string>26</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>西雅特</string>
				<key>Pbid</key>
				<string>114</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>新凯</string>
				<key>Pbid</key>
				<string>149</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>Y</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>一汽</string>
				<key>Pbid</key>
				<string>29</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>英菲尼迪</string>
				<key>Pbid</key>
				<string>67</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>野马汽车</string>
				<key>Pbid</key>
				<string>72</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>依维柯</string>
				<key>Pbid</key>
				<string>115</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>英致</string>
				<key>Pbid</key>
				<string>150</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>永源</string>
				<key>Pbid</key>
				<string>151</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>Z</string>
		<key>cars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>中华</string>
				<key>Pbid</key>
				<string>28</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>众泰</string>
				<key>Pbid</key>
				<string>92</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>中兴</string>
				<key>Pbid</key>
				<string>93</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>征服Conquest</string>
				<key>Pbid</key>
				<string>109</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>知豆</string>
				<key>Pbid</key>
				<string>120</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
